In [3]:
import pandas as pd

In [4]:
data= pd.read_csv(r'C:\Users\DELL\Downloads\archive (41)\CAR DETAILS FROM CAR DEKHO.csv')

In [5]:
data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [4]:
# encoding 
data['fuel'].unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'], dtype=object)

In [5]:
data['fuel']=data['fuel'].map({'Petrol':1,'Diesel':2, 'CNG':3, 'LPG':4, 'Electric':5})

In [6]:
data['fuel'].unique()

array([1, 2, 3, 4, 5], dtype=int64)

In [7]:
data['seller_type'].unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [8]:
data['seller_type']=data['seller_type'].map({'Individual':1,'Dealer':2,'Trustmark':4, 'Dealer':7})

In [9]:
data['seller_type'].unique()

array([ 1.,  7., nan])

In [10]:
data['transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [22]:
data['transmission']=data['transmission'].map({'Manual':1,'Automatic':0})

In [33]:
data['transmission'].unique()

array([1, 0], dtype=int64)

In [32]:
data['owner'].unique()

array([nan])

In [34]:
data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,1,NaN,1,NaN
1,Maruti Wagon R LXI Minor,2007,135000,50000,1,NaN,1,NaN
2,Hyundai Verna 1.6 SX,2012,600000,100000,2,NaN,1,NaN
3,Datsun RediGO T Option,2017,250000,46000,1,NaN,1,NaN
4,Honda Amaze VX i-DTEC,2014,450000,141000,2,NaN,1,NaN
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,2,NaN,1,NaN
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,2,NaN,1,NaN
4337,Maruti 800 AC BSIII,2009,110000,83000,1,NaN,1,NaN
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,2,NaN,1,NaN
4339,Renault KWID RXT,2016,225000,40000,1,NaN,1,NaN

In [37]:
data.isnull().sum()
per_missing= data.isnull()*100/len(data)

In [39]:
import pandas as pd

In [40]:
data= pd.read_csv(r'C:\Users\DELL\Downloads\archive (41)\CAR DETAILS FROM CAR DEKHO.csv')

In [41]:
data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [42]:
data['fuel'].unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'], dtype=object)

In [15]:

data.isnull()
per_missing= data.isnull()*100/len(data)

In [16]:
per_missing

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
4335,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4336,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4337,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4338,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4339,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   int64
 5   seller_type    4238 non-null   float64
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: float64(1), int64(4), object(3)
memory usage: 271.4+ KB

In [19]:
data['fuel'].unique()

array([1, 2, 3, 4, 5], dtype=int64)

In [20]:
data['seller_type'].unique()

array([ 1.,  7., nan])

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,1,1.0,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,1,1.0,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,2,1.0,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,1,1.0,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,2,1.0,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,2,1.0,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,2,1.0,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,1,1.0,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,2,1.0,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,1,1.0,Manual,First Owner

In [23]:
y=data.loc[:,'selling_price']

In [24]:
x=data['']

IndexingError: Too many indexers

In [6]:
data
data.isnull().sum().sum()

0

In [7]:
data
data['fuel']

0       Petrol
1       Petrol
2       Diesel
3       Petrol
4       Diesel
         ...
4335    Diesel
4336    Diesel
4337    Petrol
4338    Diesel
4339    Petrol
Name: fuel, Length: 4340, dtype: object

In [180]:


data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4339 non-null   float64
 5   seller_type    4340 non-null   int64
 6   transmission   4340 non-null   int64
 7   owner          4340 non-null   int64
dtypes: float64(1), int64(6), object(1)
memory usage: 271.4+ KB

,year,selling_price,km_driven,fuel,seller_type,transmission,owner
count,4340.000000,4.340000e+03,4340.000000,4339.000000,4340.000000,4340.000000,4340.000000
mean,9.909217,5.041273e+05,66215.777419,1.530537,3.276037,0.103226,7.517972
std,4.215344,5.785487e+05,46644.102194,0.547155,0.496892,0.304289,0.868596
min,3.000000,2.000000e+04,1.000000,1.000000,3.000000,0.000000,7.000000
25%,7.000000,2.087498e+05,35000.000000,1.000000,3.000000,0.000000,7.000000
50%,9.000000,3.500000e+05,60000.000000,2.000000,3.000000,0.000000,7.000000
75%,12.000000,6.000000e+05,90000.000000,2.000000,4.000000,0.000000,8.000000
max,31.000000,8.900000e+06,806599.000000,4.000000,5.000000,1.000000,11.000000

In [181]:
data
import datetime
datetime=datetime.datetime.now()

In [182]:
datetime

datetime.datetime(2023, 4, 25, 9, 20, 25, 488611)

In [183]:
data['year']= datetime.year-data['year']

In [184]:
data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,1.0,3,0,7
1,Maruti Wagon R LXI Minor,2007,135000,50000,1.0,3,0,7
2,Hyundai Verna 1.6 SX,2012,600000,100000,2.0,3,0,7
3,Datsun RediGO T Option,2017,250000,46000,1.0,3,0,7
4,Honda Amaze VX i-DTEC,2014,450000,141000,2.0,3,0,8
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,2.0,3,0,8
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,2.0,3,0,8
4337,Maruti 800 AC BSIII,2009,110000,83000,1.0,3,0,8
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,2.0,3,0,7
4339,Renault KWID RXT,2016,225000,40000,1.0,3,0,7

In [185]:
data['year']=datetime.year-data['year']

In [186]:
data['year']

0       16
1       16
2       11
3        6
4        9
        ..
4335     9
4336     9
4337    14
4338     7
4339     7
Name: year, Length: 4340, dtype: int64

In [187]:
# encoding 
data['fuel'].unique()

array([ 1.,  2.,  3.,  4., nan])

In [188]:
data['fuel']=data['fuel'].map({'Petrol':1,'Diesel':2,'CNG':3, 'LPG':4, 'Electric':5})

In [189]:
data['fuel'].unique()

array([nan])

In [1]:
data
import datetime
datetime=datetime.datetime.now()

NameError: name 'data' is not defined

In [2]:
data['year']=datetime.year-data['year']

NameError: name 'datetime' is not defined

In [192]:
# encoding
data['fuel'].unique()

array([nan])

In [193]:
data['fuel']=data['fuel'].map({'Petrol':1, 'Diesel':2, 'CNG':3, 'LPG':4, 'ELECTRIC':5})

In [194]:
data['fuel'].unique()

array([nan])

In [195]:
data['transmission'].unique()

array([0, 1], dtype=int64)

In [196]:
data['transmission']=data['transmission'].map({'Manual':0, 'Automatic':1})

In [197]:
data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,NaN,3,NaN,7
1,Maruti Wagon R LXI Minor,2007,135000,50000,NaN,3,NaN,7
2,Hyundai Verna 1.6 SX,2012,600000,100000,NaN,3,NaN,7
3,Datsun RediGO T Option,2017,250000,46000,NaN,3,NaN,7
4,Honda Amaze VX i-DTEC,2014,450000,141000,NaN,3,NaN,8
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,NaN,3,NaN,8
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,NaN,3,NaN,8
4337,Maruti 800 AC BSIII,2009,110000,83000,NaN,3,NaN,8
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,NaN,3,NaN,7
4339,Renault KWID RXT,2016,225000,40000,NaN,3,NaN,7

In [198]:
data['seller_type']
data['seller_type'].unique()

array([3, 4, 5], dtype=int64)

In [199]:
data['seller_type']=data['seller_type'].map({'Individual':3,'Dealer':4, 'Trustmark Dealer':5 })

In [200]:
data['seller_type'].unique()

array([nan])

In [201]:
data['owner'].unique()

array([ 7,  8,  9, 10, 11], dtype=int64)

In [202]:
data['owner']=data['owner'].map({'First Owner':7,'Second Owner':8, 'Fourth & Above Owner':9, 'Third Owner': 10, 'Test Drive Car':11})

In [203]:
data['owner'].unique()

array([nan])

In [204]:
data.fuel

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
4335   NaN
4336   NaN
4337   NaN
4338   NaN
4339   NaN
Name: fuel, Length: 4340, dtype: float64

In [205]:
data['fuel'].unique()

array([nan])

In [206]:
data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,NaN,NaN,NaN,NaN
1,Maruti Wagon R LXI Minor,2007,135000,50000,NaN,NaN,NaN,NaN
2,Hyundai Verna 1.6 SX,2012,600000,100000,NaN,NaN,NaN,NaN
3,Datsun RediGO T Option,2017,250000,46000,NaN,NaN,NaN,NaN
4,Honda Amaze VX i-DTEC,2014,450000,141000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,NaN,NaN,NaN,NaN
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,NaN,NaN,NaN,NaN
4337,Maruti 800 AC BSIII,2009,110000,83000,NaN,NaN,NaN,NaN
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,NaN,NaN,NaN,NaN
4339,Renault KWID RXT,2016,225000,40000,NaN,NaN,NaN,NaN

In [207]:
x=data.loc[:,['year','km_driven','fuel', 'seller_type', 'transmission', 'owner']]

In [208]:
y= data.loc[:,'selling_price']

In [209]:

x

      year  km_driven  fuel  seller_type  transmission  owner
0     2007      70000   NaN          NaN           NaN    NaN
1     2007      50000   NaN          NaN           NaN    NaN
2     2012     100000   NaN          NaN           NaN    NaN
3     2017      46000   NaN          NaN           NaN    NaN
4     2014     141000   NaN          NaN           NaN    NaN
...    ...        ...   ...          ...           ...    ...
4335  2014      80000   NaN          NaN           NaN    NaN
4336  2014      80000   NaN          NaN           NaN    NaN
4337  2009      83000   NaN          NaN           NaN    NaN
4338  2016      90000   NaN          NaN           NaN    NaN
4339  2016      40000   NaN          NaN           NaN    NaN

[4340 rows x 6 columns]

In [210]:
from sklearn.model_selection import train_test_split;

In [211]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.50, random_state=45, )

In [212]:
from sklearn.linear_model import LinearRegression

In [213]:
from sklearn.ensemble import RandomForestRegressor

In [214]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor

In [215]:
from sklearn.linear_model import LogisticRegression
x_train.isna().sum()
x_train.dropna(inplace=True)
x_train.isna().sum()
y_train.isna().sum()

0

In [216]:
# training the model
lr=LinearRegression()
rf= RandomForestRegressor()
dt=DecisionTreeRegressor()
log= LogisticRegression()

In [217]:
train1= lr.fit(x_train,y_train)
train2= rf.fit(x_train,y_train)
train3= dt.fit(x_train,y_train)
train4= log.fit(x_train,y_train)

ValueError: Found array with 0 sample(s) (shape=(0, 6)) while a minimum of 1 is required.

In [218]:
x_train.shape

(0, 6)

In [219]:
y_train.shape

(2170,)

In [220]:
y_train.isna().sum()

0

In [ ]:
x_train,y_train =tr